---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.icon {
    height: 21px;
    width: 21px
}

.responsive-image {
  width: auto;
  height: 100%;
  max-height: 300px;
}

.smaller-responsive-image {
  width: auto;
  height: 100%;
  max-height: 200px;
}

@media print {
  .page-break {
    page-break-before: always;
  }
}
